// Resets:
body * {
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
}


// Global variables:

// Colors:
$Color-Focus: dodgerblue;

$Color-Theme-100: darkslateblue;
$Color-Theme-90: lighten($Color-Theme-100, 10%);
$Color-Theme-80: lighten($Color-Theme-100, 20%);
$Color-Theme-70: lighten($Color-Theme-100, 30%);
$Color-Theme-10d: darken($Color-Theme-100, 10%);
$Color-Theme-20d: darken($Color-Theme-100, 20%);
$Color-Theme-30d: darken($Color-Theme-100, 30%);

$Color-Theme-Enemy-100: lightsteelblue;

$Color-Text-100: #111;
$Color-Text-90: lighten($Color-Text-100, 10%);
$Color-Text-80: lighten($Color-Text-100, 20%);
$Color-Text-70: lighten($Color-Text-100, 30%);

// Sizes:
$Text-Size-2XS: 0.5rem;
$Text-Size-XS: 0.6rem;
$Text-Size-S: 0.8rem;
$Text-Size-M: 1rem;
$Text-Size-L: 1.1rem;
$Text-Size-XL: 1.2rem;
$Text-Size-2XL: 1.4rem;
$Text-Size-3XL: 1.6rem;
$Text-Size-4XL: 1.8rem;
$Text-Size-5XL: 2rem;




// Styles:
body {
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
}

p { font-size: $Text-Size-S; }

%Input-Container {
  margin: 4rem 2rem;
}